---
import Root from "../layouts/root.astro";
import Timers from "../components/timers.astro"

---

<Root>
  <section class="flex-grow">
    <Timers class="[&]:text-primary-100" />
  </section>
</Root>
