---
import { getInstance } from "../helpers/instance";
import { getPathWithParams } from "../helpers/routing";
import Copy from "./icons/copy";
import Save from "./icons/save";
---

<header class="site-cx px-spx py-spy flex justify-between items-end">
  <a
    href={getPathWithParams(Astro.url)}
    class="text-2xl text-primary-100 font-bold">Qwark</a
  >
  <div class="flex gap-2 items-center">
    <div>
      <label class="input-sizer font-mono" data-value={getInstance(Astro.url)}
        ><span class="font-serif">Your instance:&nbsp;</span><input
          class="stealth-input"
          value={getInstance(Astro.url)}
          type="text"
          oninput="this.parentNode.dataset.value = this.value"
          size="4"
          autocomplete="off"
        />
      </label>
    </div>
    <button class="icon-button">
      <Save className="icon" />
    </button>
    <button>
      <Copy className="icon" />
      Instance
    </button>
    <button>
      <Copy className="icon" />
      URL
    </button>
  </div>
</header>
