---
import { getInstance } from "../helpers/instance";
import { getPathWithParams } from "../helpers/routing";
import Icon from "./common/icon.astro";
import Copy from "./icons/copy";
---

<header class="site-cx px-spx py-spy flex justify-between items-end">
  <a
    href={getPathWithParams(Astro.url)}
    class="text-2xl text-primary-100 font-bold">Qwark</a
  >
  <div class="flex gap-2 items-center">
    <span>Your instance: <code>{getInstance(Astro.url)}</code></span>
    <button class="icon-button">
      <Copy className="icon" />
    </button>
  </div>
</header>
