---
import "../styles/global.css";
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Qwark</title>
	</head>
	<body class="min-h-screen flex flex-col overflow-x-clip font-serif">
  <main class="w-site p-4 flex-grow flex flex-col bg-base-100 text-content-100">
		<slot />
  </main>
	</body>
</html>
